extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  //- a(href="users") users

  .main.container
    p
    .custom-div

    .jumbotron-trans.d-flex.bd-highlight
      .p-2.w-100.bd-highlight
        h1.display-5 Welcome to learning @abhigsri
        p.lead This is a simple learning website, where anyone who is at beginer level can check how to start with different programing languages and tools.
        //- hr.my-4
        //- p We are having a different section of How to start with ..., in which you can easily get to hands on with the fisrt step towards any technology or tool.
        //- a.btn.bg-dark.btn-sm.text-white(href='/learnings', role='button') Learn today :)
      //- .p-2.flex-shrink-1.bd-highlight
      //-   .d-flex.align-items-end.flex-column.bd-highlight.mb-3
      //-     //- <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="abhisheksrivastava-36b23321"><a class="LI-simple-link" href='https://in.linkedin.com/in/abhisheksrivastava-36b23321?trk=profile-badge'></a></div>
      //-     img(src="images/js-lib-fw.png", class="img-fluid", alt="opensource", width="80%")
    .row
      .col
        <div class="bgimg-1">
          <div class="caption">
          <a href="/learnings" style="text-decoration: none;"><span class="border">Learn today <i class="fas fa-smile-beam"></i></span></a>
          </div>
        </div>

        <div style="text-align:center;padding:50px 80px;text-align: justify;">
          <h3 style="text-align:center;">My Story</h3>
          <p class="lead">
            | I’ve been working in the Software development field since 2010. I have a great deal of experience working both on solo projects and also as part of a team. This flexibility means I can perform well on whatever projects come my way.
            | From initial concept to the final result, I provide personalized attention and guidance throughout the whole process. As an industry leading Software Developer, I have the experience and track record to help you succeed in today’s digital age.
          </p>
        </div>

        <div class="bgimg-2">
          <div class="caption">
          <a href="https://github.com/abhigsri" style="text-decoration: none;"><span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Projects <i class="fa fa-github"></i></span></a>
          </div>
        </div>

        <div style="position:relative;">
          <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
          <p class="lead">We are having a different section of How to start with, in which you can easily get to hands on with the fisrt step towards any technology and tool.</p>
          </div>
        </div>

        <div class="bgimg-3">
          <div class="caption">
          <a href="mailto:abhigsri1983@gmail.com" style="text-decoration: none;"><span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">Let’s Chat <i class="fa fa-at"></i></span></a>
          </div>
        </div>

        <div style="position:relative;">
          <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
          <p class="lead">Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
          </div>
        </div>

        <div class="bgimg-1">
          <div class="caption">
          <span class="border">COOL!</span>
          </div>
        </div>
    //- .row
    //-   .col
    //-     .jumbotron-trans 
    //-       h3 My Story
    //-       p I’ve been working in the Software development field since 2010. I have a great deal of experience working both on solo projects and also as part of a team. This flexibility means I can perform well on whatever projects come my way.
    //-         | From initial concept to the final result, I provide personalized attention and guidance throughout the whole process. As an industry leading Software Developer, I have the experience and track record to help you succeed in today’s digital age.

        
    //-   .col
    //-     .jumbotron-trans 
    //-       //- <video width="100%" controls>
    //-       //-   <source src="../videos/demo.mp4" type="video/mp4">
    //-       //-   //- <source src="../videos/movie.ogg" type="video/ogg">
    //-       //-   | Your browser does not support the video tag.
    //-       //- </video>
    //-       h3 My Story
    //-       p I’ve been working in the Software development field since 2010. I have a great deal of experience working both on solo projects and also as part of a team. This flexibility means I can perform well on whatever projects come my way.
    //-         | From initial concept to the final result, I provide personalized attention and guidance throughout the whole process. As an industry leading Software Developer, I have the experience and track record to help you succeed in today’s digital age.
    p
