extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  //- a(href="users") users

  .main.container
    .row
      .col
        p 
    .row
      .col
        .card
          .card-header
            | Get started with HowTo Actions
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere

      .col
        .card
          .card-header
            | How to part 2
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere

    .row
      .col
        hr
    .row
      .col
        .card
          .card-header
            | How to part 1
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere

      .col
        .card
          .card-header
            | How to part 2
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere
      
      .col
        .card
          .card-header
            | How to part 3
          .card-body
            h5.card-title Special title treatment
            p.card-text With supporting text below as a natural lead-in to additional content.
            a.btn.btn-primary(href='#') Go somewhere